# -----------------------------
# Entornos virtuales
.venv/
venv/
env/

# -----------------------------
# Archivos de entorno sensibles
.env
.env.*

# -----------------------------
# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# -----------------------------
# Archivos de logs y dumps
*.log
*.bak
*.dump

# -----------------------------
# Archivos de bases de datos locales
*.sqlite3

# -----------------------------
# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------------
# Archivos del sistema
.DS_Store
Thumbs.db
*.swp

# -----------------------------
# Docker
*.pid
*.pid.lock
docker-compose.override.yml
