{% macro render_field(field, type=None, placeholder=None) %}
<div class="form-group mb-3">
    {% if field.type != 'HiddenField' %}
        {{ field.label(class="form-label") }}
    {% endif %}

    {% set render_args = {} %}
    {% if field.render_kw %}{% do render_args.update(field.render_kw) %}{% endif %}
    {% if type %}{% do render_args.update({'type': type}) %}{% endif %}
    {% if placeholder %}{% do render_args.update({'placeholder': placeholder}) %}{% endif %}

    {% set css_classes = ['form-control'] %}
    {% if render_args.class %}{% do css_classes.append(render_args.class) %}{% endif %}
    {% if field.errors %}{% do css_classes.append('is-invalid') %}{% endif %}
    {% do render_args.update({'class': css_classes|unique|join(' ')}) %}

    {{ field(**render_args) }}

    {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_select_field(field, class_=None) %}
<div class="form-group mb-3">
    {{ field.label(class="form-label") }}

    {% set render_args = {} %}
    {% if field.render_kw %}{% do render_args.update(field.render_kw) %}{% endif %}
    {% set css_classes = ['form-select'] %}
    {% if render_args.class %}{% do css_classes.append(render_args.class) %}{% endif %}
    {% if class_ %}{% do css_classes.append(class_) %}{% endif %}
    {% if field.errors %}{% do css_classes.append('is-invalid') %}{% endif %}
    {% do render_args.update({'class': css_classes|unique|join(' ')}) %}

    {{ field(**render_args) }}

    {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_queryselect_field(field, class_=None) %}
<div class="form-group mb-3">
    {{ field.label(class="form-label") }}

    {% set render_args = {} %}
    {% if field.render_kw %}{% do render_args.update(field.render_kw) %}{% endif %}
    {% set css_classes = ['form-select'] %}
    {% if render_args.class %}{% do css_classes.append(render_args.class) %}{% endif %}
    {% if class_ %}{% do css_classes.append(class_) %}{% endif %}
    {% if field.errors %}{% do css_classes.append('is-invalid') %}{% endif %}
    {% do render_args.update({'class': css_classes|unique|join(' ')}) %}

    {{ field(**render_args) }}

    {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_checkbox(field, id=None) %}
<div class="form-check">
    {% set render_args = {} %}
    {% if field.render_kw %}{% do render_args.update(field.render_kw) %}{% endif %}
    {% if id %}{% do render_args.update({'id': id}) %}{% endif %}

    {% set css_classes = ['form-check-input'] %}
    {% if render_args.class %}{% do css_classes.append(render_args.class) %}{% endif %}
    {% if field.errors %}{% do css_classes.append('is-invalid') %}{% endif %}
    {% do render_args.update({'class': css_classes|unique|join(' ')}) %}

    {{ field(**render_args) }}
    {{ field.label(class="form-check-label") }}
    {% if field.errors %}
        <div class="invalid-feedback d-block">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_submit(field, class_=None) %}
    {% set render_args = {} %}
    {% if field.render_kw %}{% do render_args.update(field.render_kw) %}{% endif %}
    {% set css_classes = ['btn', 'btn-primary'] %}
    {% if render_args.class %}{% do css_classes.append(render_args.class) %}{% endif %}
    {% if class_ %}{% do css_classes.append(class_) %}{% endif %}
    {% do render_args.update({'class': css_classes|unique|join(' ')}) %}

    {{ field(**render_args) }}
{% endmacro %}