<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Transportes Artisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h3>Crea tu nueva contraseña</h3>
            <p class="reset-info">Estás a un paso de tu nueva contraseña. Créala ahora.</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    {{ form.password(class_='form-control', placeholder='Nueva Contraseña') }}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    {{ form.confirm_password(class_='form-control', placeholder='Confirmar Nueva Contraseña') }}
                    {% for error in form.confirm_password.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit">Resetear Contraseña</button>
            </form>
            <div class="back-to-login">
                <a href="{{ url_for('auth.login') }}">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</body>
</html>